body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                        'navbar navbar navbar navbar'
                        'section section section aside'
                        'footer footer footer footer';
    grid-template-rows: 20vh 5vh 50vh 30vh;
    grid-gap: 5px; 
}
 header {
     grid-area: header;
     background-color: rgb(0, 102, 255);
 }
 nav {
     grid-area: navbar;
     background-color: rgb(173, 173, 173);
 }

 section{
     grid-area: section;
     background-color: beige;
 }
 aside{
     grid-area: aside;
     background-color: rgb(133, 133, 133);
 }
 footer{
     grid-area: footer;
     background-color: rgb(95, 95, 95)
 }